<!--
About us template file with placeholder text that includes
header/footer template files
-->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Flask App</title>
    </head>
    <body>
        {%include 'header.html'%}
        <h1>About Us</h1>
        <p>
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Fusce fermentum
            interdum rutrum. In hac habitasse platea dictumst.
            Praesent auctor, massa ac molestie consequat,
            lorem nulla volutpat enim, ac sollicitudin nunc elit
            blandit leo. Nam in nisi vitae diam rutrum placerat
            sed eu quam. Praesent vel enim ac ipsum viverra
            vulputate. Nam scelerisque eros a tempor dapibus.
            Nunc euismod neque at lacus fermentum, nec pharetra
            erat porttitor. Aliquam erat volutpat. Phasellus
            ultricies porttitor ipsum, hendrerit gravida nulla
            laoreet ac. Morbi orci leo, feugiat id lacus et,
            malesuada finibus nulla. Cras mi massa, porta id
            sapien a, porta tristique neque. Duis tristique quis
            dui eu finibus.
        </p>
        {%include'footer.html'%}
    </body>
</html>
