<!--
Header file template, with simple content and
navigation link to 'Home', 'About', 'Contact'
-->

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Flask App</title>
    </head>
    <body>
    <header>
        <h1>My Flask App</h1>
        <nav>
            <a href="/templates/home">Home</a>
            <a href="/template/about.html">About</a> |
            <a href="/template/contact.html">Contact Us</a>
        </nav>
    </header> 
    </body>
</html>